<!-- views/index.ejs -->

<!doctype html>
<html>
<head>
    <title>Lisa Horoscope</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container">
    <h1> Successful </h1>
    <p> Your password had been changed already </p>
</div>
<script>
     window.setTimeout(function(){
        // Move to a new location or you can do something else
        window.location.href = "http://www.lisaguru.com";
    }, 5000);
</script>
</body>
</html>
