<!doctype html>
<html>
<head>
    <title>Web Api Platform</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
    <br>
    <br>
    <br>
    <center>
    <div class="jumbotron">
        <h2> Hello, Welcome to Web API platform for application</h2>
        <p>This is the center of resources for application to pull and push data from the database and do some management with user information such as sign up/sign in</p>
    </div>
    </center>
</body>

</html>