<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Reset Password system</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <form action="/updatePassword" method="post" onsubmit="return validateForm();">
        <div class="form-group">
            <label> Email </label>
            <input type="text" class="form-control" name="email" value="<%= email %>" readonly>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label>Re-new Password</label>
            <input type="password" class="form-control" id="repassword" name="repassword">
        </div>
        <button type="submit" class="btn btn-default btn-lg" >Confirm</button>
    </form>
    <hr>

</div>
</div>
<script>
    function validateForm(){
        var pass = document.getElementById("password").value;
        var repass = document.getElementById("repassword").value;
        if (pass.length == 0 || repass.length == 0){
            alert('Please enter your new password and re password');
            return false;
        }
        else if(pass.length < 8 || repass.length < 8){
            alert('Password must more than 8 character');
            return false;
        }
        else if(pass != repass){
            alert('Password and re password must be the same');
            return false;
        }
        else{
            return true;
        }
    }
</script>
</body>
</html>
